{% extends 'base-flight-document-project.html' %}

{% block content %}
<h1>FlightLog App</h1>
<h2>Home page</h2>
{% if user.is_authenticated %}
        <p>You are logged in</p>
        <p>Welcome: {{user.get_username}} !</p>
    <form method="post" action="{% url 'logout' %}?next={{request.path}}">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
        <p> You are not logged in.</p>
        <a href="{% url 'login' %}?next={{request.path}}">Login Here</a>
    {% endif %}
{% endblock %}
