{% extends 'base-flight-document-project.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
    <p>Your username or password was incorrect. Try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>You don't have permission for this page.</p>
    {% else %}
        <p>Please login to see this page</p>
    {% endif%}
{% endif%}

    <form method="post" action="{%url 'login'%}">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    {% csrf_token %}
    <div>
        <label>{{form.username.label}}</label>
        {{form.username}}</div>
    <div>
        <label>{{form.password.label}}</label>
        {{form.password}}</div>

    <input class="btn btn-primary w-10 py-2" type="submit" value="login">
    <input type="hidden" name="next" value="{{next}}">
</form>

{% endblock %}