{% extends 'base-flight-document-project.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
    <p>Podany login lub hasło jest nieprawidłowe. Spróbuj ponownie</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Nie masz dostępu do tej strony.</p>
    {% else %}
        <p>Zaloguj się by zobaczyć zawartość strony.</p>
    {% endif%}
{% endif%}

    <form method="post" action="{%url 'login'%}">
    <h1 class="h3 mb-3 fw-normal">Logowanie</h1>
    {% csrf_token %}
    <div>
        <label>nazwa użytkownika: </label>
        {{form.username}}</div>
    <div>
        <label>hasło:</label>
        {{form.password}}</div>

    <input class="btn btn-primary w-10 py-2" type="submit" value="Zaloguj">
    <input type="hidden" name="next" value="{{next}}">
</form>

{% endblock %}