{% extends 'base-flight-document-project.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Funkcja ustawiająca bieżącą datę i godzinę dla podanych elementów
            function setDefaultDate(dateFieldId) {
                const dateInput = document.getElementById(dateFieldId);
                const now = new Date();

                // Ustaw bieżącą datę dla pola wyboru daty
                const formattedDate = now.toISOString().split('T')[0];
                dateInput.value = formattedDate;
            }

            // Funkcja ustawiająca wartość daty i godziny dla pola datetime na podstawie daty
            function updateDateTimeFromDate(dateInputId, datetimeInputId) {
                const dateInput = document.getElementById(dateInputId);
                const datetimeInput = document.getElementById(datetimeInputId);

                const selectedDate = new Date(dateInput.value);
                const now = new Date();

                // Ustaw datę i godzinę dla pola datetime zgodnie z wybraną datą
                const updatedDateTime = new Date(
                    selectedDate.getFullYear(),
                    selectedDate.getMonth(),
                    selectedDate.getDate(),
                    now.getHours(),
                    now.getMinutes(),
                    0, 0 // Sekundy i milisekundy ustawione na zero
                );

                // Ustaw wartość bez strefy czasowej
                const formattedDateTime = updatedDateTime.toISOString().slice(0, 16); // Format datetime-local
                datetimeInput.value = formattedDateTime;
            }

            // Ustawienie domyślnej wartości dla pola date
            setDefaultDate('date_of_flight');

            // Obsługa zmiany daty w polu date-field
            const dateField = document.getElementById('date_of_flight');
            dateField.addEventListener('change', function() {
                updateDateTimeFromDate('date_of_flight', 'datetime-start_up');
                updateDateTimeFromDate('date_of_flight', 'datetime-take_off');
                updateDateTimeFromDate('date_of_flight', 'datetime-land');
                updateDateTimeFromDate('date_of_flight', 'datetime-shut_down');
            });
        });

    </script>
<h1> Utwórz log</h1>
<form method="post">

    {% crispy form %}
</form>
{% endblock %}
