{% extends 'base-flight-document-project.html' %}

{% block content %}
<h1><i>Current tab is under maintenance</i></h1>
<!--<p>mil_person: {{mil_person}}</p>-->
<h3>log </h3>
<h2>{{log}}</h2>
<div class="flight_info">
    <p>Ś-c: {{log.aircraft}}</p>
    <p>Ćw: {{log.exercise}}</p>
</div>
<div class="flight_clock_times">
    <p>Uruchomienie: {{log.start_up}}</p>
    <p>Start: {{log.take_off}}</p>
    <p>Lądowanie: {{log.land}}</p>
    <p>Wyłączenie: {{log.shut_down}}</p>
    <p>Załoga: </p>
    {%for p in crew%}
        <p>{{p}}</p>
    {%endfor%}
</div>
<div class="flight_times">
    <p>air {{air}}</p>
    <p>gnd {{gnd}}</p>
    <p>full {{full}}</p>
</div>
{% endblock %}
