{% extends 'base-flight-document-project.html' %}

{% block content %}
<h1><i>Current tab is under maintenance</i></h1>
<!--<p>mil_person: {{mil_person}}</p>-->
<h2>{{log}}</h2>
<p>{{log.crew_list}}</p>

<div class="flight_info">
    <p>Ś-c: {{log.aircraft}}</p>
    <p>Ćw: {{log.exercise}}</p>
</div>
<div class="flight_clock_times">
    <p>Uruchomienie: {{log.start_up}}</p>
    <p>Start: {{log.take_off}}</p>
    <p>Lądowanie: {{log.land}}</p>
    <p>Wyłączenie: {{log.shut_down}}</p>
</div>
<div class="crew">
    <ul>Załoga: </ul>
    {%for p in crew%}
        <li>{{p}}</li>
    {%endfor%}
</div>
<div class="flight_times">
    <p>air {{times.air}}</p>
    <p>gnd {{times.gnd}}</p>
    <p>full {{times.full}}</p>
</div>
{% endblock %}
