{% extends 'base-flight-document-project.html' %}


{% block content %}

<main>
    <div class="flight_info">
        <h1 class="text-body-emphasis">{{log.aircraft}}<br> Ćwiczenie: {{log.exercise}}</h1>
        <div class="mb-5">
            <p>{{log.start_up.date |date }}</p>
        </div>


    </div>

    <div class="flight_times">
        <table>
            <tbody>
            <tr>
                <th class="fs-5 col-md-4" scope="row">Czas powietrza</th>
                <td class="fs-5 col-md-8">{{times.air}}</td>
            </tr>
            <tr>
                <th class="fs-5 col-md-4" scope="row">Czas na ziemi</th>
                <td class="fs-5 col-md-8">{{times.gnd}}</td>
            </tr>
            <tr>
                <th class="fs-5 col-md-4" scope="row">Całkowity czas lotu</th>
                <td class="fs-5 col-md-8">{{times.full}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <a href="{% url 'addnotes' %}" class="btn btn-primary btn-lg px-4">Dodaj uwagi do śmigłowca</a>
    <a href="{% url 'tab2' %}" class="btn btn-secondary btn-lg px-4">Dodaj uwagi do lotu</a>

    <hr class="col-3 col-md-10 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">Załoga</h2>
            <div class="crew">
                <ol>{%for p in crew%}
                    <li class="fs-5 col-md-8">{{ p }}</li>
                    {%endfor%}
                </ol>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="text-body-emphasis">Chronometraż [UTC]</h2>
            <div class="flight_clock_times">
                <table>
                    <tbody>
                    <tr>
                        <th class="fs-5 col-md-4" scope="row">Uruchomienie</th>
                        <td class="fs-5 col-md-8">{{log.start_up | time}}</td>
                    </tr>
                    <tr>
                        <th class="fs-5 col-md-4" scope="row">Start</th>
                        <td class="fs-5 col-md-8">{{log.take_off | time}}</td>
                    </tr>
                    <tr>
                        <th class="fs-5 col-md-4" scope="row">Lądowanie</th>
                        <td class="fs-5 col-md-8">{{log.land | time}}</td>
                    </tr>
                    <tr>
                        <th class="fs-5 col-md-4" scope="row">Wyłączenie</th>
                        <td class="fs-5 col-md-8">{{log.shut_down | time}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>
{% endblock %}