{% extends 'base-flight-document-project.html' %}
{% block content %}
<h1> Logi użytkownika: {{ user.last_name | upper }} {{ user.first_name }}</h1>
<div class="logs">
        {% for user_log in user_logs %}

    <table class="table table-striped">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ś-c</th>
      <th scope="col">Uruchomienie</th>
      <th scope="col">Start</th>
      <th scope="col">Lądowanie</th>
      <th scope="col">Wyłączenie</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/logger/log/{{ user_log.id }}">{{user_log.id}}</a></th>
      <td>{{ user_log.aircraft}}</td>
      <td>{{ user_log.start_up | time }}</td>
      <td>{{ user_log.take_off | time }}</td>
      <td>{{ user_log.land | time }}</td>
      <td>{{ user_log.shut_down | time }}</td>
    </tr>
  </tbody>
  </table>
    {% endfor %}
</table>
</div>

{% endblock %}
